body{
    text-align:center; 
    background-image: url(../assets/1190683.jpg);
    background-size: cover; 
    color:blueviolet;
}

.nota{
    display: inline;
    color: darkblue;
}
.fundo{ 
    display: inline;
    color: black;
}
h2, a{
    display: inline; background-color: white;
}
h3, h1{
    display: inline;
    background-color: white;
}
.img{
    position:relative;
    top: 50%;
    right: 30%;

}
.seta{
    position:relative;
    top: 50%;
    left: 30%;
}


