 h3{
    padding: 20px;
    color: white;
 }
 body{
    background-color: rgb(37, 34, 34);
 }
 .col{
    color: white;
 }
 .colum{
   padding: 30px;
 }

.form-control{
   background-color: rgb(37, 34, 34) !important;
   color: white!important;

}
.form-control::placeholder{
   color: white;
}
img{
   border-radius: 10px;
}
.card{
   color: white;
}
.titulo{
   color: red;
}
.titulo2{
   color: green;
}
.rowtitulo{
   display: flex;
   justify-content:center;
}
h4{
   padding: 10px;
}